.kitchen{
    padding:105px 0px 50px 0px;
    background: #F7F8FA;
    &-menu{
        margin-bottom: 125px;
    }
    &-item{
        width: 277px;
    }
    &-items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &-item__inner{
        padding-top: 16px;
        display: flex;
        justify-content: space-around;
    }
    &-menu__item{
        border: none;
        background-color: transparent;
        padding:13px 40px;
        color: #929292;
        font-size: 16px;
        letter-spacing: -0.012em;
        border: 1px solid #F3BA00;
    }
    &-menu__first--bth{
        border-radius: 10px 0px 0px 10px;
    }
    &-menu__last--bth{
        border-radius: 0px 10px 10px 0px;
    }
    &-menu__item:focus{
        background-color:  #F3BA00;
        color:#000000;
        font-weight:700;
    }
}
.kitchen-bth{
    display:block;
    width: 172px;
    margin:0 auto;
    padding-top: 60px;
    color: #929292;
    letter-spacing: -0.012em;
    border: 1px solid #F3BA00;
    border-radius: 10px;
    padding:13px 40px;
}
.title{
    font-size: 24px;
    letter-spacing: -0.012em;
    color: #000000;
    margin-bottom: 16px;
}